@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --color-primary: #088a7e;
  --color-text: #191919;
  --color-twitter: #1da1f2;
  --color-linkedin: #0e76a8;
  --color-github: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
img,
svg {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(2, 100vh);
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile__head {
    text-align: center;
  }

.profile__head-title {
      padding: 1rem;
      font-size: clamp(2rem, 3vw, 4rem);
    }

.profile__body {
  }

.profile__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.profile__group-element {
      width: 32px;
    }

.profile__group-element-image {
        -o-object-fit: cover;
           object-fit: cover;
      }

.profile__content {
    text-align: center;
  }

.profile__content-image {
      border-radius: 100%;
      max-width: 100%;
      width: 15rem;
    }

.navbar {
  margin-top: 1rem;
  align-self: center;
}

.navbar__list {
    list-style: none;
  }

.navbar__list-btn-navbar {
      display: block;
      margin-bottom: 0.8rem;
    }

.navbar__list-btn-navbar-link {
        padding: 0.2rem;
        font-size: clamp(1.2rem, 1vw, 1.5rem);
        color: var(--color-primary);
        text-decoration: none;
      }

.navbar__list-btn-navbar-link:hover {
          border-bottom: 2px solid var(--color-primary);
        }

.emoji {
  margin-top: 1rem;
}

.emoji__body {
    text-align: center;
  }

.emoji__body-text {
      font-size: clamp(1.5rem, 3vw, 2rem);
      -webkit-animation: down-to-top 0.5s ease-in-out alternate infinite;
              animation: down-to-top 0.5s ease-in-out alternate infinite;
    }

.content {
  display: grid;
  grid-template-rows: repeat(3, 100vh);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__body {
    display: block;
    text-align: justify;
    padding: 1rem;
  }

@media screen and (min-width: 920px) {
  .about__body {
      width: 50%;
      font-size: 1.2rem;
      text-align: justify
  }
    }

.about__text {
    padding: 1rem;
  }

.portfolio__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0.4rem;
  }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact__body {
    display: block;
  }

.contact__text {
    padding: 1rem;
  }

.email__btn-email {
      font-size: clamp(2rem, 2vw, 8rem);
      text-align: center;
      text-decoration: none;
      color: var(--color-primary);
      padding: 0.4rem;
    }

.email__btn-email:hover {
        text-decoration: underline;
      }

.--btn-twitter:hover {
    color: var(--color-twitter);
    border-bottom: 2px solid var(--color-twitter);
  }

.--btn-github:hover {
    color: var(--color-github);
    border-bottom: 2px solid var(--color-github);
  }

.--btn-linkedin:hover {
    color: var(--color-linkedin);
    border-bottom: 2px solid var(--color-linkedin);
  }

.btn-top {
  position: fixed;
  z-index: 1000;
  right: 50px;
  bottom: 50px;
  padding: 1em;
}

.btn-top__btn {
    width: 64px;
    height: 64px;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 4px;
    border: none;
  }

.btn-top__btn:hover {
      cursor: pointer;
      color: #fff;
      background: var(--color-primary);
    }

.card {
  position: relative;
  margin-bottom: 1rem;
}

.card__image {
    max-width: 100%;
  }

.card:hover .overlay {
    opacity: 1;
  }

.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(8, 138, 125, 0.5);
  transition: opacity 0.25s ease-in-out;
  box-shadow: 5px 10px 5px #353535a4;
}

.overlay__head-title {
      color: #fff;
      font-size: 3rem;
    }

.overlay__btn {
    margin-top: 1rem;
  }

.overlay__btn-link {
      text-decoration: none;
      padding: 1rem;
      color: white;
    }

.overlay__btn-link:hover {
        color: var(--color-primary);
        background: white;
      }

.social__head {
    margin-bottom: 1rem;
  }

.social__head-title {
      font-size: 2.2rem;
    }

.social__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


@-webkit-keyframes down-to-top {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


@keyframes down-to-top {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}