@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto Mono', monospace;
 }

 html, body {
     width: 100%;
     height: 100%;
 }

 header, #about,#contact,#portfolio{
     display: flex;
     max-width: 100%;
     flex-direction: column;
     flex-wrap: nowrap;
     padding: 0.75em;
 }

 svg,img {
     max-width: 100%;
 }



div.profile {
    align-self: center;
    text-align: center;
    img {
        margin-top: 20px;
        width: 250px;
        border-radius: 360px;
    }
    h1 {
        text-align: center;
    }
}

form.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    fieldset {
        padding: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: .5em ;
        border-radius: 4px 4px 4px;
        border: 1px solid grey;

        div {
            padding: 1.2em;
            margin-bottom: .5em;
            input {
                padding: .5em;
                font-size: 1em;
                height: 30px;
                border: grey solid 1px;
                border-radius: 4px 4px 4px;
            }
            textarea {
                overflow: hidden;
                padding: 1em;
                height: 120px;
                border: 1px solid grey;
                border-radius: 4px 4px 4px;
            }

            input, textarea {
                width: 100%;
                box-sizing: border-box;
            }
        }

    }
}

nav.navbar{
    align-self: center;
    ul {
        padding: 1em;
        list-style: none;
        margin: 4px 2px;
        li {
            display: inline;
            padding: 1em;
            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:620px) {
    div#container{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
    }


    main#content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }

    header {
        nav.navbar {
            li{
                margin: 10px auto;
                display: block;
                padding: 1em; 
            }
        }
    }

    #about {
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        .content-text {
            align-self: center;
            padding: 1rem;
        }
        .content-image {
            text-align: center;
            img{
                border-radius: 360px;
                width: 420px;
                max-width: 75%;
            }
        }
    }

    #portfolio {
        justify-content: center;
        align-content: center;
        .container{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            .col {
                margin: 1em auto;
            }
        }

    }

    #contact {
        justify-content: center;
        align-items: center;
        #email {
            font-size: 2em;
        }
        #social {
            display: flex;
            flex-direction: column;
            justify-content: center;
            nav.navbar {
                font-size: 1.2em;
                ul {
                    li {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:620px) {
    div#container {
        display: grid;
        grid-template-rows: repeat(2,100vh);
    } 

    main#content {
        display: grid;
        grid-template-rows: repeat(3,100%);
        grid-auto-rows: minmax(min-content, max-content);
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section#about {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div.content-text {
            align-self: center;
            width: 720px;
            padding: 1rem;
            p {
                margin-bottom: 1em;
                line-height: 2em;
            }
        }
        div.content-image {
            flex: 1 0 500px;
            align-self: center;
            text-align: center;
            img {
                border-radius: 360px;
                max-width: 75%;
                width: 500px;
            }
        }
    }

    
    #portfolio {
        justify-content: center;
        div{
            flex: 0 1 20%;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
    }

    section#contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #email {
            flex: 0 1 20%;
            font-size: 2.5em;
        }
        div#social {
            flex: 0 1 20%;
            div{
                h1{
                    text-align: center;
                }
            }
            nav.navbar {
                ul{
                    display: flex;
                    flex-direction: row;
                    font-size: 1.5rem;                  
                }
            }
        }
    }
}



.btn-group {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 180px;
    padding: .9em;
    border-radius: 4px 4px 4px;
    border: 1px #1A181B solid;
    a{
        text-align: center;
        display: block;
        color: #088a7d;
    }
    &:hover {
        cursor: pointer;
        background: #088a7d;
        a{
            border-bottom: 2px solid;
        }
    }

    &-twitter:hover {
        a{
            color:#1da1f2;
        }
        background: none;
    }

    &-linkedin:hover {
        a{
            color: #0e76a8;
        }
        background: none ;
    
    }
    
    &-github:hover {
        a{
            color: #333;
        }
        background: none ;
    }

    &-email {
        a{
            text-decoration: none;
            color: #088a7d;
            &:hover{
                border-bottom: 4px solid;
                
            }
        }
    }

    &-navbar {
        a {
            color: #088a7d;
        }
        &:hover {
            a{
                border-bottom: 2px solid #088a7d;
            }
        }
    }
    &-top {
            width: 60px;
            position: fixed;
            right: 50px;
            bottom: 5%;
            padding: 1em;

            color: black;
            border:none;
            font-size: 1.2em;
            &:hover{
                color: white;
            }
    }
}

div.content-text {
    text-align: justify;
    
}




.not-border {
    border: none;
}

.title {
    &-1 {
        font-size: 3.5em;
    }
    &-2{
        font-size: 2.5em;
    }
    &-3{
        font-size: 1.5em;
    }
}

.text {
    &-center {
    text-align: center;
    }
}

.color {
    &--black {
        color: #000;
    }
    &--success {
        color: #fff;
        background: #43A047;
        border: none;
        &:hover{
            background: #81C784;
        }
        &:active{
            background: #C8E6C9;
        }
    }
    &--cancel {
        color: #fff;
        background: #E53935;
        border:none;
        &:hover{
            background: #E57373 ;
        }
        &:active {
            background: #FFCDD2;
        }
    }
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    background: rgba(8, 138, 125, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s;
    box-shadow:5px 10px 5px #353535a4;
}
.overlay-img{
    position: relative;
    display: inline-block;
    img {
        position: relative;
        vertical-align: top;
    }
    &:hover .overlay{
        opacity: 1;
    }
}